html
    head
        title Alle jokes
    body
        h1 Alle vores jokes
        each joke in jokes
            p=joke.setup 
            p=joke.punchline
            p='*BA DUM TSSS*'
            br

        button(onclick="location.href='/newJoke'") Opret ny joke