html
    head
        title Opret ny joke
    body
        form(action='/create' method='post')
            input(type='text' name='setup')'
            input(type='text' name='punchline')
            button(type='submit' name='opret') Opret joke