body {
    background-color: hotpink;
}

.div1 {
    display: grid;
    /* width: 45em; */
    /* height: ; */
    grid-template-columns: 50% auto;
    grid-template-rows: auto;
    border: 2px solid black;
    /* margin: 0; */
    /* padding: 1em; */
    /* justify-items: center; */
    background-color:greenyellow;
}

.setup{
    border: 2px solid black;
    padding: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-left: 5px;
}

.dropdown{
    border: 2px solid black;
    padding: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-left: 5px;
}

.item1{
    border: 2px solid black;
    margin: 5px;
    padding: 5px;
}

.item2{
    border: 2px solid black;
    margin: 5px;
    padding: 5px;
}